# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

*.json
*.keras

# Jupyter
.ipynb_checkpoints/

# Data & models
*.csv
*.pkl
*.joblib

# Files
*png
rockyou.txt
*output

# Bilder från matplotlib/EDA
*.jpg
*.jpeg

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo